{% extends "base.html" %}
{% block title %}{{ settings.info.league_name }} - Providence RoSports{% endblock %}
{% block content %}

<style>
  .join-now-btn {
    background-color: #{{ settings.info.league_color }};
    color: #000;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  .join-now-btn:hover {
    background-color: #333;
    color: #fff;
  }
</style>

<style>
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('{{ settings.info.game_cover }}');
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: -1;
  }
</style>

<main class="hero-section fade-in">
  <h1 class="hero-title" style="color: #{{ settings.info.league_color }};">{{ settings.info.league_full_name }}</h1>
  <p class="hero-subtitle">
    <a href="{{ settings.info.game_link }}" target="_blank" style="color: #4da6ff; text-decoration: underline;">
      {{ settings.info.game_name }}
    </a>
  </p>
</main>

<div style="text-align: center; margin-top: 1rem;">
  <a href="{{ settings.info.league_invite }}" target="_blank" class="join-now-btn"
     color: #000; font-weight: bold; padding: 0.75rem 1.5rem; border-radius: 10px; text-decoration: none;
     display: inline-block; font-size: 1.2rem; transition: background-color 0.3s ease;">
    Join Now
  </a>
</div>

<section class="about-discord-section fade-in-delayed">
  <div class="about-us">
    <h2 style="color: #{{ settings.info.league_color }};">What is {{ settings.info.league_name }}?</h2>
    <p>
      Providence Baseball Universe League, one of the first leagues in Baseball Universe.
      Opened in May 2025, this league saw instant popularity and success within the BU community.
      An amazing league built in an amazing game for all baseball lovers out there; this is your one-stop shop.
    </p>

    </div>
  </div>
  <div style="border: 3px solid #{{ settings.info.league_color }}; border-radius: 10px; padding: 0.5rem;">
  <iframe 
    src="https://discord.com/widget?id=1364650269652025354&theme=dark" 
    allowtransparency="true" 
    frameborder="0" 
    style="width: 100%; height: 500px; border: none;"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
  </iframe>
  </div>
  </div>
</section>
{% endblock %}
